.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}



.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
  
 
  
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Counter component */
.counter{
  min-width: 100vh;
  background-color: #61dafb
}


/* Todo component */
.todo label {
  display: block;
}


/* List component */

.list{
  min-width: 100vh;
  background-color: #eebbdd
}



.list ul li a{
  float: right;
  font-size: calc(5px + 2vmin);
}