.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Counter component */
.counter {
  min-width: 100vh;
  background-color: #61dafb;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  border: 5px dotted wheat;
  display: flex;
  flex-direction: column;
}

li {
  border-bottom: 2px solid black;
  /*margin: 0.5em;
  padding: 0.5em;*/
}
/* Todo component */
.todo label {
  display: block;
}

/* List component */
.list {
  min-width: 100vh;
  background-color: #eebbdd;
}

.warpper-list {
  display: flex;
  /*flex-wrap: wrap;*/
  align-items: flex-start;
  background-color: #61dafb;
}

.warpper-list > div {
  margin: 0.5em;
  padding: 0.5em;
}

.start-warp {
  background-color: beige;
  display: flex;
  flex: 1;
  /*justify-content: flex-start;*/
}

.start-warp > div {
  margin: 0.4em;
}

.end-warp {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  /*justify-content: flex-end;*/
  /*align-self: center;*/
  background-color: #565656;
}

.end-warp > div {
  margin: 0.4em;
}

/*** Done item ***/
.check-item {
  border: 2px solid black;
  border-radius: 60%;
  /*float: left;*/
}

.done-item {
  background-color: #7fffd4;
  color: #282c34;
}
.undone-item {
  background-color: #f0f8ff;
  color: #282c34;
}
/*** Item title ***/
.item-title {
  background: #282c34;
  /*float: left;*/
  /*padding-left: 2%;*/
}

.date-item {
  background-color: purple;
}

/*Status Item*/
.status-item {
  background-color: #e75757;
  border: none;
  border-radius: 5em; /*2em / 5em;*/
  font-size: smaller;
  width: 100px;
  /*margin: auto;*/
}

.status-item-beta {
  background-color: pink;
}

.status-item-plan {
  background-color: #ba55d3;
}

.status-item-test {
  background-color: #61dafb;
}
/*Item user-img*/
.img-usr {
  float: right;
  background-color: #61dafb;
  font-size: smaller;
  border: 2px solid black;
  border-radius: 100%;
}

.list ul li a {
  float: right;
  font-size: calc(5px + 2vmin);
}
