.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Counter component */
.counter {
  min-width: 100vh;
  background-color: #61dafb;
}

ul {
  list-style: none;
}
/* Todo component */
.todo label {
  display: block;
}

/* List component */
.list {
  min-width: 100vh;
  background-color: #eebbdd;
}
/* Done item*/
.check-item {
  border: 2px solid black;
  border-radius: 60%;
  float: left;
}

.done-item {
  background-color: #7fffd4;
  color: #282c34;
}
.undone-item {
  background-color: #f0f8ff;
  color: #282c34;
}
/*Item title*/
li .item-title {
  background: #282c34;
  float: left;
  padding-left: 2%;
}

/*Item user-img*/
.img-usr {
  float: right;
  background-color: #61dafb;
  font-size: smaller;
  border: 2px solid black;
  border-radius: 100%;
}

/*Status Item*/
.status-item {
  background-color: #565656;
  margin: auto;
}

.list ul li a {
  float: right;
  font-size: calc(5px + 2vmin);
}
