/* The Parent of all the items */
li {
  border-bottom: 2px solid black;
}

/* The Son of li */
.warpper-list-item {
  display: flex;
  flex: 1;
}

/* 
      The children of warpper-list-item:
                div start-warp
                div end-warp
          having margin and padding
 */
.warpper-list-item > div {
  margin: 0.3em;
  padding: 0.3em;
}

/*************************************************/
/******************* Start Box *********************/
/*************************************************/

.start-warp {
  /*width: 35%;*/
  background-color: whitesmoke;
  float: left;
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  /*  background-color: #61dafb;*/
}

/*
          The children of start-warp:
                div check-item (who have children (done/undone)-item  
                div end-warp item-title
            having margin and padding
*/
.start-warp > div {
  /*margin: 0.1em;
  padding: 0.1em;*/
}

/***
      .check-item The first 
       Child of .start warp 
***/
.check-item {
  padding-left: 20px;
  padding-right: 22px;
}

/*
          The children of check-item:
                  div undone-item
                       OR
                  div done-item
          having margin and padding
*/
.check-item > div {
  border-radius: 100%;
}

.fas {
  font-size: 23px;
  font-weight: 700;
}

.done-item {
  border: 2px double #92f3e3;
  background-color: #92f3e3;
  color: white;
}
.undone-item {
  border: 2px double #cacfd4;
  background-color: #f0f8ff;
  color: #cacfd4;
}

/*** Item title ***/
.item-title {
  background: whitesmoke;
  font-size: calc(6px + 2vmin);
  font-weight: bold;
}

.undone-title {
  color: black;
}

.done-title {
  color: #656970;
}

/*************************************************/
/******************* End Box *********************/
/*************************************************/
.end-warp {
  display: flex;
  flex: 2;
  justify-content: flex-end;
  /*background-color: rgb(182, 138, 138);*/
}

.container-end {
  width: 50%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-end;
  /* background-color: red; */
}

.container-end > div {
  font-size: smaller;
}
.date-item {
  align-self: center;
  background-color: green;
}

/*Status Item*/
.status-item {
  /*margin: 1em;*/
  width: 35%;
  height: 30px;
  border-radius: 72em;
}

.status-font {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 15px;
  font-weight: bold;
}
.status-item-beta {
  background-color: #fc94af;
}

.status-item-plan {
  background-color: #ab5ce6;
}

.status-item-test {
  background-color: #97defe;
}

/*Item user-img*/
.img-usr {
  align-self: center;
  background-color: #61dafb;
  border: 2px solid whitesmoke;
  border-radius: 100%;
}

/* The img props */
.img-usr > img {
  width: 26px;
  float: right;
  border-radius: 100%;
}
